#main-container {
    margin: 0 auto;
}

.table {

    max-width: 70%;
    margin: 0 auto;
}

.card {

    width: calc(100% / 4)
}

.card h5 {

    font-family: fantasy;
}

.card p {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

span {

    margin-left: 3rem;
}

span>img {

    max-width: 250px;

}